.n {
    padding: 0;
    /*border-bottom: dotted;*/
}

body {
    margin-top: 0;
}

pre {
    padding: 0;
    margin: 1rem 0;
    white-space: pre-wrap;
}

ul, ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ol {
    /*margin: 0.5em;*/
}

form {
    position: sticky;
    top: 0;
    z-index: 999;
    background: white;
    width: 100%;
    text-align: center;
}

form div {
    display: inline-block;
}

#modulo {
    margin-left: 5em;
}

.selected {
    background-color: #f0f0f0;
}

li {
    scroll-margin-top: 10rem;
}

html {
    font-family: monospace;
}

sub, sup {
    font-size: 0.75em;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}
